

.input__box{
    width: 100%;
    background-color: white;
    padding: .5rem;
    border-radius: .2rem;
}

.input__box input{
    background-color: transparent;
    border: 0;
    width: 100%;
    outline: none;
    padding-inline: .5rem;
    color: black;
}

.input__box input::placeholder {
    color: grey;
    font-weight: 500;
    text-transform: capitalize;
    
  }