

.button{
    margin-block: 2rem;
    background-color: transparent;
    border: 1px solid white;
    padding: .5rem 1rem;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: all .4s ease-in-out;
}

.button:hover{
    background-color: white;
    color: black;
}